<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') -%>
    <%- include('../partials/nav.ejs') -%>
  </head>
  <body>
    <nav>

    </nav>
    <div class="container">
      <h1> <%= product.name  %> </h1>
        <div class="jumbo">
          
            <img src="<%= product.img %>" alt="An image of <%= product.name %>" class="jumbo-img" />
            <h3><p><%=product.description %></p></h3>
            <% if (product.qty <= 0) { %>
              <h3 class="out-of-stock"> OUT OF STOCK </h3>
            <% } else   { %>
            <h3>Stock :  <%= product.qty %> </h3>
            <form action="/home/<%=product.id%>/buy?_method=put" method="POST">
              <button class="buy-button"><h3>Buy</h3></button>
            </form>
            <h3>Price: $<%=product.price %></h3>
            <% } %>
        </div>
        <div class="admin-actions">
          <a href="/home/<%=product.id%>/edit"><button type="button" name="button" class="edit-button"><h3>Edit</h3></button></a>
          <form action="/home/<%=product.id%>?_method=DELETE" method="POST">
            <button class="delete-button">DELETE</button>
          </form>
        </div>
    </div>
    <!-- messages -->
    <div class="main-comments">
      <!-- post a new message form -->
      <h1>Post Your Review Of The Product</h1>
      <form class="edit" action="/home/" method="POST">
        <textarea type="text" name="comments" placeholder="TYPE YOUR REVIEW HERE..." required></textarea>
        <input type="submit" name="submit" value="POST">
      </form>
      <!-- displays all messages -->
      <h1>Review board</h1> 
      <div class="comments">
        <h3> <%= product.comments %> 
        </h3>
                
      </div>
     </div>
    </div>
  </body>
</html>
